.ad-card-container {
    border-radius: 8px;
    border: 1px solid lightgray;
    color: inherit;
    background-color: white;
  }
   
  .ad-card-link {
    text-decoration: inherit;
    color: inherit;
  }
   
  .ad-card-image {
    width: 100%;
    border-radius: 8px;
  }
   
  .ad-card-text {
    padding: 12px;
    font-size: 18px;
    display: flex;
    justify-content: space-between;
  }
   
  .ad-card-title {
    font-weight: bold;
  }
   
  .ad-details-image-container {
    margin-inline-start: -24px;
    margin-inline-end: -24px;
  }
   
  .ad-details-image {
    width: 100%;
  }
   
  .ad-details {
    display: grid;
    gap: 24px;
  }
   