.recent-ads {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 16px;
}

.ad-card-container {
  border-radius: 8px;
  border: 1px solid lightgray;
  color: inherit;
  background-color: white;
}


/* ... autres styles spécifiques à RecentAd ... */